.artNos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;

}
.form{
    background-color:rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .textForm{
        @include tabla ($segundaFont, $tercerColor, $textMd);
        box-sizing: border-box;
        padding: 7px;
        margin-bottom: 5px;
        border: none;
    }
    .mailForm {
        @include tabla ($segundaFont, $tercerColor, $textMd);
        box-sizing: border-box;
        padding: 7px;
        margin-bottom: 5px;
        border: none;
    }
    textarea{
        border: none;
        padding: 7px;
        margin-bottom: 5px;
        font-family: $segundaFont;
        font-size: $textSm;
    }
    .btnForm{
        @include tabla ($segundaFont, $segundoColor, $textXxl);
        background-color: $mainColor;
        border: none;
        width: 100%;
    }
}