%parrafos{
    color: $mainColor;
    font-size: $textSm;
    font-family: $segundaFont;
    background-color: $segundoColor;
}
%titulos {
    background-color: $mainColor;
    text-align: center;
    font-size: $textXxl;
}