@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Bebas+Neue&family=Bree+Serif&family=Stick+No+Bills:wght@400;500;700&display=swap');
$mainFont: 'Stick No Bills', sans-serif;
$segundaFont: 'Bebas Neue', cursive;
$terceraFont: 'Arvo', serif;
$textXs: 1.5rem;
$textSm: 2rem;
$textMd: 2.5rem;
$textLg: 3rem;
$textXl: 3.5rem;
$textXxl: 4rem;
$textXxxl: 5rem;