.pie{
    background-color: rgba(255, 255, 255, 0.795);
    .titPie {
        color: $mainColor;
        font-weight: bold;
        font-size: $textMd;
        text-align: center;
    }
    .pieRrss {
        list-style: none;
        display: flex;
        flex-wrap: nowrap;
        align-content: stretch;
        margin-bottom: 0;
        justify-content: space-evenly;
        .btnPie{
            width: 50%;
        }
        .rrss:hover {
            transform: translateY(-10px);
            transition: transform 1s;
        }
    }
}