@import "_variables";
@import "_fonts";
@import "_mixin";
@import "_extend";
@import "_content";
@import "_header";
@import "_principal";
@import "_media";
@import "_iframe";
@import "_fotospag";
@import "_calendario";
@import "_contacto";
@import "_footer";

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .body{
    background-image: url(../IMAGENES/estadiomonumental.webp);
    overflow-x: hidden;
    background-size: cover;
}

  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }